@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Source+Sans+Pro:400,700,900,400italic,700italic|Source+Code+Pro:400,400italic,700);

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: 320px) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (max-width: 1024px) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: 1024px) { @content; }
    }
}


$headerFontStack: 'Source Sans Pro', sans-serif;
$sourceCodeFontStack: 'Source Code Pro', sans-serif;
$bodyFontStack: 'Merriweather', serif;
$bodyFontSize: 14px;

$bodyGutter: 15%;
$bodyWidth: 100% - ($bodyGutter * 2);

$foreground: #000;
$foreground-highlight: #933;
$background: #fff;
$background-highlight: #edc;

$standardBorder: 10px solid ($background - #111);

html * {
    box-sizing: border-box;
}

html {
    font-family: $bodyFontStack;
    font-size: $bodyFontSize;
}

body {
    background: $background;
    color: $foreground;
    margin: 0 auto;
}

pre, code {
    font-family: $sourceCodeFontStack;
}

div.highlight {
    overflow: hidden;
    padding-top: 0;
    margin: 2em;
}

pre {
    border-top: $standardBorder;
    border-bottom: $standardBorder;
    margin: 0;
    position: relative;

    code {
        display: block;
        position: relative;
        margin-top: .7em;
        margin-bottom: 1em;

        span {
            position: relative;
            z-index: 1;
        }

        &:after {
            color: $background-highlight;
            font-family: $headerFontStack;
            font-weight: bold;
            font-size: 8em;
            text-transform: uppercase;
            position: absolute;
            bottom: -1px;
            right: -4px;
            z-index: 0;
        }
    }

    code.language-ruby:after {
        content: "Ruby";
    }

    code.language-html:after {
        content: "HTML";
    }
}

article > * {
    padding: 0 $bodyGutter;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFontStack;
}

h1 {
    padding-top: 1em;
    text-transform: uppercase;
    color: $foreground;

    &:hover .id {
        opacity: 1;
    }

    .id {
        font-size: .5em;
        color: $foreground-highlight;
        text-decoration: none;
        margin-left: .5em;

        transition: 500ms;
        opacity: 0.2;

        &:before {
            content: '#';
        }
    }
}

a {
    color: $foreground-highlight;
}

header {
    overflow: hidden;
    text-align: center;
    font-size: 2em;

    a {
        text-decoration: none;
    }

    nav {
        a {
            text-decoration: none;
            font-size: .7em;
            font-weight: bold;
            color: $foreground;
            margin: 0 1.2em;
            white-space: nowrap;
            character-spacing: 1px;

            @include respond-to(handhelds) {
                display: block;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

nav.article {
    text-align: center;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;

    a {
        color: $foreground;
        display: block;
        text-decoration: none;
    }
}

article {
    line-height: 2.5em;
    color: $foreground + #333;

    p {
        text-align: justify;
        hyphens: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.post-info {
    line-height: 1.9em;
    font-size: .8em;
    border-top: $standardBorder;
    padding-top: 1em;

    @include respond-to(wide-screens) {
        margin-left: 1%;
        margin-top: 3em;
        padding: 0;
        width: $bodyGutter - 2%;
        float: left;
    }

    @include respond-to(medium-screens) {
        margin-top: 1em;
    }
}

blockquote {
    font-size: .9em;
}

figure {
    position: relative;
    padding: 0;
    margin: 2em 0;
    text-align: center;

    img {
        max-width: $bodyWidth;
    }

    figcaption {
        border-top: $standardBorder;
        padding-top: .5em;
        font-size: .7em;
        text-align: left;

        @include respond-to(wide-screens) {
            position: absolute;
            top: 0;
            right: 1%;
            width: $bodyGutter - 2%;
        }

        @include respond-to(medium-screens) {
            width: $bodyWidth;
            margin: 0 auto;
        }
    }
}

footer {
    line-height: 2em;
    margin-top: 2em;
    text-align: left;
    color: $foreground + #777;

    & p {
        width: $bodyWidth;
        padding-left: 1em;
        position: relative;
        z-index: 1000;
        margin-bottom: 1em;
    }

    &:before {
        position: relative;
        z-index: 0;
        content: 'Mark Fischer';
        display: block;
        color: $background-highlight;
        text-align: center;
        font-family: $headerFontStack;
        font-size: 15em;
        font-weight: bold;
        text-transform: uppercase;
        line-height: .7em;
        margin-bottom: -.7em;
        white-space: nowrap;
        overflow: hidden;
    }
}
